html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p,
.d,
.c,
.a {
  animation: 1s linear 0s infinite reverse both running rotate;
  margin: 1rem;
  font-size: 20vw;
}

@media (min-aspect-ratio: 1/1) {
  .p,
  .d,
  .c,
  .a {
    font-size: 20vw;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
